<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs\internal-nlog.txt">

	<!-- Логгирование только в консоль -->
	<targets>
		<target xsi:type="Console" name="console" layout="${time} [${level}] ${message}" />
	</targets>

	<!-- Правила логгирования -->
	<rules>
		<!-- Все логи уровня Info и выше будут выводиться в консоль -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>